body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
    height: 100vh;
    width: 100vw;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}